/* historique-listesExpos.css */

/* Reset des styles par défaut */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utilisation de la même police d'écriture que dans le header */
body, input, button, select, textarea {
  font-family: 'Roboto', sans-serif; /* Police d'écriture */
}

/* Style pour le container principal */
.historique-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Style pour le titre */
.historique-div-titre {
  margin-bottom: 30px; /* Plus d'espace en bas du titre */
  margin-top: 50px;
}

.historique-titre {
  font-size: 24px;
  font-weight: bold;
}

/* Style pour la zone de recherche */
.historique-search {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px; /* Plus d'espace en bas de la zone de recherche */
}

.historique-div-input {
  flex: 1;
  margin-right: 20px; /* Plus d'espace à droite des champs de recherche */
}

.historique-input {
  width: 100%;
  padding: 12px; /* Un peu plus de padding */
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.historique-nb-expo {
  padding: 30px;
}

/* Style pour le contenu des expositions */
.historique-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 30px; /* Plus d'espace entre les expositions */
}

.historique-text-expo {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px; /* Plus d'espace en bas du texte de l'exposition */
}

/* Style pour les détails de l'exposition */
.historique-expo-content {
  display: flex;
  align-items: center;
}

.historique-expo-text {
  flex: 1;
}

.historique-label {
  font-weight: bold;
  margin-bottom: 10px;
}

.historique-labella {
  margin-bottom: 15px; /* Plus d'espace entre les éléments */
}

.historique-lable {
  margin-bottom: 10px;
}

.historique-canvas {
  margin-top: 50px;
}
