/* header.css */

.header {
  background-color: #fff; /* Nouvelle couleur du header */
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

/* Style pour le logo */
.logo img {
  width: 50px; /* Taille du logo */
}

.contt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  height: 100%;
}

/* Style pour les liens de navigation */
.navlabel {
  color: #6c757d; /* Couleur du texte */
  text-decoration: none;
  margin-right: 20px; /* Espacement entre les éléments */
  font-size: 18px; /* Taille du texte */
  font-weight: 500; /* Poids de la police */
}

/* Style pour le bouton de navigation */
.buttonnav {
  background-color: transparent; /* Couleur de fond transparente */
  border: none;
  cursor: pointer;
}

/* Style pour le texte à l'intérieur du bouton de navigation */
.buttonnav .navlabel {
  text-decoration: none;
  color: 6c757d; /* Couleur du texte */
  font-size: 18px; /* Taille du texte */
  font-weight: 500; /* Poids de la police */
}

/* Style au survol du bouton de navigation */
.buttonnav:hover .navlabel {
  text-decoration: underline; /* Soulignement au survol */
}
