body, html {
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
  }
  .titre-histo{
    font-size: 3rem;
    position: relative;
    margin-bottom: 65rem;
    white-space: nowrap;
  }
  
  .container-histo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    padding: 20px;
    box-sizing: border-box;
  }
  
  
  main {
    text-align: center;
    margin-top: 50px; 
  }
  
  @media only screen and (max-width: 768px) {
    .profile-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 60rem;
    }
  @media only screen and (max-width: 768px) {
    .navbar {
      position: fixed;
      top: 0;
      width: 100%;
    }
   
    main {
      margin-top: 100px; 
    }
  }
  }

  .exhibition-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -10px;
  }
  
  .exhibition-box {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    flex-basis: calc(33.333% - 20px);
    text-align: center;
    padding: 20px;
  }
  
  .exhibition-box img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .exhibition-box h3 {
    margin: 0 0 10px;
  }
  
  .exhibition-box p {
    margin: 0;
    color: #666;
  }
  
  @media (max-width: 768px) {
    .exhibition-box {
      flex-basis: calc(50% - 20px);
    }
  }
  
  @media (max-width: 500px) {
    .exhibition-box {
      flex-basis: 100%;
    }
  }