/* Ajoutez des styles CSS ici si nécessaire */

/* Styles pour les écrans larges */
.colonne-container {
  display: flex;
  flex-wrap: column;
  gap: 120px;
}

.colonne {
  box-sizing: border-box;
  border: 1px solid #000;
  padding: 10px;
  margin-bottom: 20px;
  width: 62rem;
  height: 256px;
}

.col1, .col2, .colonne2, .col3, .col4, .col5, .col6, .rectangle {
  background-color: white;
}

.text-expo {
  color: #4D4D4D;
  font-size: 16px;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
  margin-top: -3rem;
  margin-left: 33rem;
}

.text-venir {
  color: #4D4D4D;
  font-size: 16px;
  font-family: Inter;
  font-weight: 500;
  line-height: 18px;
  word-wrap: break-word;
  margin-left: 57rem;
  margin-top: -2.5rem;
}

.text-enregistrement {
  margin-top: -2.1rem;
  margin-left: 71rem;
}


.rectangle {
  box-sizing: border-box;
    border: 1px solid #000;
    padding: 10px;
    margin-bottom: 20px;
    width: 62rem;
    height: 256px;
}
.text-historique {
  margin-top: -2.1rem;
  margin-left: 87rem;
}

.img-arrow {
  margin-left: 93rem;
}


.button-histo{
  margin-left: 92rem;
    position: absolute;
    top: 64px;
}
/* Styles pour les écrans moyens */
@media screen and (max-width: 1200px) {
  .colonne-container {
      gap: 20px;
  }
}

/* Styles pour les écrans plus petits */
@media screen and (max-width: 768px) {
  .colonne {
      width: 100%;
      height: auto;
  }

  .col1, .col2, .colonne2, .col3, .col4, .col5, .col6, .rectangle {
      width: 100%;
  }

  .text-expo, .text-venir, .text-enregistrement, .text-historique, .img-arrow {
      margin: 0;
      text-align: center;
  }

  .img-button {
      text-align: center;
  }
}
