/* register_expo.css */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form {
    max-width: 600px;
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .div-input {
    width: 100%;
    margin-top: 20px;
  }
  
  input[type="text"],
  input[type="date"],
  input[type="time"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
  }
  
  .suggestions-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .suggestions-list li {
    padding: 10px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
  }
  
  .suggestions-list li:hover {
    background-color: #f0f0f0;
  }
  
  .coordonnee {
    font-size: 14px;
    color: #888;
  }
  
  .but {
    margin-top: 20px;
  }